<!-- Main Header -->
<header class="header">
  <div class="container header-container">
    <a href="/" class="logo-link">
      <img src="/assets/img/venga-logo-1 (1).png" alt="Auto Showroom" class="logo">
    </a>
    
    <nav class="nav">
      <ul class="nav-menu">
        <li><a href="/" class="nav-link">Ana Sayfa</a></li>
        <li class="has-submenu">
            <a href="/about.html" class="nav-link">Kurumsal</a>
            <ul class="submenu">
                <li><a href="/about.html" class="nav-link">Hakkımızda</a></li>
                <li><a href="/vision-mission.html" class="nav-link">Vizyonumuz - Misyonumuz</a></li>
            </ul>
        </li>
        <li><a href="/products-services.html" class="nav-link">Ürün ve Hizmetlerimiz</a></li>
        <li><a href="/announcements-faq.html" class="nav-link">Duyurular & SSS</a></li>
        <li><a href="/contact.html" class="nav-link">İletişim</a></li>
      </ul>
    </nav>
  
  </div>
</header> 

<script src="/assets/js/nav.js"></script> 