

<!-- Main Header -->
<header class="header">
  <div class="container header-container">
    <a href="/" class="logo-link">
      <img src="http://www.vengarentacar.com/themes/venga-rent-a-car/assets/img/venga-logo-1.png" alt="Auto Showroom" class="logo">
    </a>
    
    <nav class="nav">
      <ul class="nav-menu">
        <li><a href="/" class="nav-link active">Ana Sayfa</a></li>
        <li><a href="/blog" class="nav-link">Hakkımızda</a></li>
        <li><a href="/shop" class="nav-link">Ürün ve Hizmetlerimiz</a></li>
        <li><a href="/inventory" class="nav-link">Kurumsal</a></li>
        <li><a href="/features" class="nav-link">Duyurular & SSS</a></li>
        <li><a href="/contact" class="nav-link">İletişim</a></li>
      </ul>
    </nav>
  
  </div>
</header> 